<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddPetServlet</servlet-name>
        <servlet-class>servlets.petServlets.AddPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPetsServlet</servlet-name>
        <servlet-class>servlets.petServlets.MyPetsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPetServlet</servlet-name>
        <servlet-class>servlets.petServlets.ViewPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>servlets.scheduleServlets.BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.InfinitePetsServlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlets.InfinitePetsServlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>servlets.InfinitePetsServlets.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>servlets.InfinitePetsServlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>servlets.InfinitePetsServlets.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileServlet</servlet-name>
        <servlet-class>servlets.InfinitePetsServlets.MyProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>servlets.InfinitePetsServlets.AppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientContractServlet</servlet-name>
        <servlet-class>servlets.InfinitePetsServlets.contracts.ClientContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionsServlet</servlet-name>
        <servlet-class>servlets.InfinitePetsServlets.promotions.PromotionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionServlet</servlet-name>
        <servlet-class>servlets.InfinitePetsServlets.promotions.PromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPromotionServlet</servlet-name>
        <servlet-class>servlets.InfinitePetsServlets.promotions.NewPromotionServlet</servlet-class>
    </servlet>
        <servlet-name>ViewPetServlet</servlet-name>
        <servlet-class>servlets.petServlets.ViewPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPetServices</servlet-name>
        <servlet-class>servlets.adminServlets.AdminPetServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetServiceServlet</servlet-name>
        <servlet-class>servlets.adminServlets.PetServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccntServlet</servlet-name>
        <servlet-class>servlets.adminServlets.AdminAccntServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNewEmployeeServlet</servlet-name>
        <servlet-class>servlets.adminServlets.AdminNewEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewPetServlet</servlet-name>
        <url-pattern>/ViewPet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPetServlet</servlet-name>
        <url-pattern>/AddPet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPetsServlet</servlet-name>
        <url-pattern>/MyPets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/BookAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileServlet</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/Appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientContractServlet</servlet-name>
        <url-pattern>/ClientContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionsServlet</servlet-name>
        <url-pattern>/Promotions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionServlet</servlet-name>
        <url-pattern>/Promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPromotionServlet</servlet-name>
        <url-pattern>/NewPromotion</url-pattern>
        <servlet-name>AdminPetServices</servlet-name>
        <url-pattern>/PetServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetServiceServlet</servlet-name>
        <url-pattern>/Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccntServlet</servlet-name>
        <url-pattern>/Employment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewEmployeeServlet</servlet-name>
        <url-pattern>/NewEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeePreferencesServlet</servlet-name>
        <url-pattern>/EmployeePreferences</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <env-entry>
        <env-entry-name>webmail-username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value/>
    </env-entry>
    <env-entry>
        <env-entry-name>webmail-password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value/>
    </env-entry>
</web-app>
