<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddPetServlet</servlet-name>
        <servlet-class>servlets.petServlets.AddPetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPetsServlet</servlet-name>
        <servlet-class>servlets.petServlets.MyPetsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPetServlet</servlet-name>
        <servlet-class>servlets.petServlets.ViewPetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPetServlet</servlet-name>
        <url-pattern>/AddPet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPetsServlet</servlet-name>
        <url-pattern>/MyPets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPetServlet</servlet-name>
        <url-pattern>/ViewPet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
