.wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
}

.forgotPasswordContainer{
    display: grid;
    grid-template-areas: 
        "forgotTitle forgotTitle"
        "newPassLbl newPass"
        "confirmPassLbl confirmPass"
        "submitBtn submitBtn";
    row-gap: 10px;
    column-gap: 20px;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    background-color: #F3F1EC;
}

.forgotTitle{grid-area: forgotTitle;}
.newPassLbl{grid-area: newPassLbl;}
.newPass{grid-area: newPass;}
.confirmPassLbl{grid-area: confirmPassLbl;}
.confirmPass{grid-area: confirmPass;}
.submitBtn{grid-area: submitBtn;}