
.wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
}

.generalContainer {
    display: grid;
    
    
    column-gap: 30px;
    row-gap: 0px;
    padding: 25px 50px 50px 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    background-color: #F3F1EC;
}

/**********************************  
* Table style - General
**********************************/
.tableData td {
    padding: 0.5em;
}

.tableData tr td:nth-child(2n) {
    padding-left: 3em;
}



input {
    background: #ffffff;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #9A9891;
    height: 30px;
    width: 150px;
    color: #696863;
    font-family: 'Playfair Display', serif;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: none;
    cursor: text;
}

.colum{
    flex: 50%;
}

.row{
    display: flex;
}

select {
    background: #ffffff;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #9A9891;
    height: 30px;
    width: 150px;
    color: #696863;
    font-family: 'Playfair Display', serif;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: none;
    cursor: pointer;
}


button {
    background: #696863;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: #ffffff;
    padding: 5px, 5px, 5px, 5px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

/*************************************************
* Form Styling 
* for the buttons that will be next to each other
*************************************************/
.miniForms {
    display: inline-block;
    margin: 1em 0 1em 0;
}

.miniForms button:nth-child(1n) {
    margin-right: 0.3em;
}


.dangerButton {
    background-color: lightcoral;
}

textarea {
    background: #ffffff;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #9A9891;
    color: #696863;
    font-family: 'Playfair Display', serif;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: none;
    cursor: text;
}


body {
    background: #E7E4D9;
    color: #9A9891;
    padding:0px;
    margin: 0px;
    font-family: 'Playfair Display', serif;;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 2fr 1fr;
    
}

.navbar {
    display: grid;
    height: 85px;
    width: auto;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-rows: 1fr;
    background: #9A9891;
    align-items: center;
    margin-bottom: 15px;
    
}

.navItem {
    display: flex;
    max-height: 85px;
    justify-content: center;
    align-items: center;
}

#menu {
    width: 40px;
    height: auto;
}

#account {
    width: 40px;
    height: auto;
}

#logo {
    width: 300px;
    height: auto;
}

.path {
    display: grid;
    grid-template-columns: 1fr .1fr 1fr .1fr 1fr .1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
    height: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-width: auto;
}

.path a {
    text-decoration: none;
    color: #696863;
    cursor: pointer;
}

#chevronRight {
    height: 15px;
    width: auto;
}

.appointment{
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #F3F1EC;
}

.footer {
    display: grid;
    height: 200px;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background: #9A9891;
    color: #696863;
    
}

.footer h4{
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer a{
    color: #696863;;
    text-decoration: none;
    margin-bottom: 5px;
    
}

.footerLeft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    padding-left: 15px;
    margin-left: 15px;
    column-width: auto;
}

.footerItem {
    display: flex;
    max-height: 50px;
    width: auto;
    margin-left: 15px;
}

#facebook {
    height: 30px;
}

#instagram {
    height: 30px;
}


.dropbtn {
    
    color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}