.wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
}

.resetPasswordContainer{
    display: grid;
    grid-template-areas: 
        "resetTitle"
        "instruction"
        "resetEmail"
        "send"
        "message";
        row-gap: 10px;
        column-gap: 20px;
        padding: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border-style: solid;
        background-color: #F3F1EC;
}

.resetTitle{grid-area: resetTitle;}
.instruction{grid-area: instruction;}
.resetEmail{grid-area: resetEmail;}
.send{grid-area: send;}
.message{grid-area: message;}